body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

#title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1em;
}

#title img {
    max-width: 15%;
    min-width: 75px;
}

h1 {
    align-self: flex-end;
}

#search-bar {
    margin: 30px;
    border: 1px solid black;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#search-bar input {
    width: 100%;
    font-size: 1.2em;
}

#search-bar-button {
    width: 50px;
    background-color: white;
    
}

#search-bar-button img {
    width: 100%;
}

.recipe-card {
    display: flex;
    flex-direction: column-reverse;
    border: 3px black solid;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.recipe-details {
    display: flex;
    flex-direction: column;
}

.recipe-details > * {
    margin: 0;
}

.tags {
    display: flex;
    order: -1;
}

.recipe-tag {
    background-color: #f0f0f0;
    font-size: 1.3em;
    width: min-content;
    padding: 5px;
    text-align: center;
    border: lightgray solid 2px;
    box-shadow: 0 0 1px 1px lightgray;
}

.recipe-name {
    margin-top: 30px;
    color: #2594dd;
}

.recipe-description {
    display: none;
}

.recipe-image {
    width: 100%;
    align-self: center;
}

.recipe-image img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    width: 90%;
    margin: 0 auto;
}

.social a img {
    width: 30px
}

.social {
    margin: 30px;
}


@media screen and (min-width: 500px) {
    #title {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 2em;
    }

    .recipe-card {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .recipe-image {
        max-width: 45%;
    }

    .recipe-description {
        display: inline;
        font-size: 20px;
        margin-top: 15px;
    }

    .recipe-details {
        margin-left: 20px;
    }

    .social a img{
        width: 50px;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 1em;
    }
}