body {
    font-size: 1.3em;
    padding: 40px;
}
#light-selector {
    position: fixed;
    top: 0;
    left: 0;
}
#content {
    margin: 0 auto;
    max-width: 55%;
    border: solid 2px;
    padding: 50px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2em;
}

header p {
    color: #006eb7;
}

main {
    padding-top: 20px;
}

#list-header {
    padding: 10px;
    font-style: italic;
}

li {
    padding-bottom: 20px;
}

img {
    padding-top: 35px;
    max-width: 20%;
    display: block;
    margin: 0 auto;
}

.dark-mode {
    background-color: #404040;
    color: white;
    border-color: white;
}

.dark-mode-body {
    background-color: #404040;
}
